<div class="container-fluid">
  <div class="row">
    <div class="col p-0">
      <nav class="navbar navbar-expand-lg navbar-dark black-bg">
        <h1 class="logo" [routerLink]="['/home']"><span class="text-success">Go</span><span class="text-danger">Chat</span></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item d-flex flex-direction-row">
              <button type="button" class="btn btn-success d-lg-none d-block margin" (click)="globalRoomsView()">Global Rooms</button>
              <button type="button" class="btn btn-warning margin ml-auto" (click)="goBackToPreviousPage()">Back</button>
            </li>
            <li class="nav-item d-flex flex-direction-row">
              <button type="button" class="btn btn-success d-lg-none d-block margin" (click)="globalChatView()">Global Chat</button>
              <button type="button" class="btn btn-primary margin ml-auto" data-toggle="modal" data-target="#logoutModal">Logout</button>
              <app-modal [id]="'logoutModal'" [title]="'Do you want to logout?'" [buttonName]="'Logout'" (notify)="logout()"></app-modal>
            </li>
            <li class="nav-item d-flex flex-direction-row justify-content-center">
              <button type="button" class="btn btn-primary d-lg-none d-block margin" (click)="yourRoomsView()">Your Rooms</button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col p-0">
      <div class="container-fluid" *ngIf="userInfo">
        <div class="row">
          <div id="globalRooms" class="d-lg-block col-lg-3 d-none col-12 gray-bg full-height">
            <div class="row d-flex justify-content-center">
              <h5 class="text-light" style="margin-top:10px;">{{userInfo.userName}}</h5>
            </div>
            <div class="container">
              <div class="row">
                <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#createRoomModal" (click)="roomName='';roomCapacity=''">
                  Create Room
                </button>
                <div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Create Room</h5>
                      </div>
                      <div class="modal-body">
                        <label for="roomName">Room Name</label>
                        <input [(ngModel)]='roomName' type="text" class="form-control" id="roomName" placeholder="Enter the Room Name" maxlength="50"
                          required>
                        <label for="roomCapacity">Capacity</label>
                        <input [(ngModel)]='roomCapacity' type="Number" class="form-control" id="roomCapacity" placeholder="Size of Room" min="2"
                          max="50" required>
                        <small class="form-group text text-muted" style="margin-left:5px;">
                          Room size must be between 2 and 50
                        </small>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="cancel btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" [disabled]="roomName.length==0 || roomName.length>50 || roomCapacity<2 || roomCapacity>50" class="btn btn-primary"
                          (click)="createRoom()">Create</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row d-flex justify-content-center text-light">
                <h4>Global Rooms:</h4>
              </div>
            </div>
            <div *ngFor="let room of allRooms">
              <div class="row text-light border-bottom room-icon" *ngIf="room.active==true">
                <div class="col-auto d-flex align-items-center">
                  <div class="crop" [ngClass]="{'bg-danger': room.joinees.length == room.capacity ,'bg-success': room.joinees.length<room.capacity}">{{room.roomName[0]}}</div>
                </div>
                <div class="col">{{room.roomName}}<br><small>Joined : {{room.joinees.length}}/{{room.capacity}}</small></div>
                <div *ngIf="checkUserNotInTheRoom(room)" class="col-auto d-flex align-items-center"><button type="button"
                    class="btn btn-primary btn-sm" (click)="validateAndNavigate(room)">Join</button></div>
              </div>
            </div>
          </div>
          <div id="yourRooms" class="d-lg-block col-lg-6 col-12 full-height" style="background-color:#e0dbdb;">
            <div class="row d-flex justify-content-center">
              <h3 style="margin-top:10px;font-weight:bolder;">Your Rooms</h3>
            </div><br>
            <div class="row">
              <div *ngFor="let yourRoom of yourRooms" class="col-lg-6 col-12" >
                <div class="container border border-light" *ngIf="!checkUserNotInTheRoom(yourRoom)">
                  <div class="row">
                    <div class="col"><b>{{yourRoom.roomName}}</b><br>
                      <small>Joined : {{yourRoom.joinees.length}}/{{yourRoom.capacity}}</small><br>
                      <small *ngIf="yourRoom.ownerName!=userInfo.userName">Admin : {{yourRoom.ownerName}}</small><small *ngIf="yourRoom.ownerName==userInfo.userName">Admin:
                        You
                      </small></div>
                    <div class="col-auto align-self-center"><button type="button" class="btn btn-warning btn" [routerLink]="['/room',yourRoom.roomId]">Open</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="globalChat" class="d-lg-block col-lg-3 d-none col-12 purple-bg text-light">
            <div class="chat-screen" #scrollMe [scrollTop]="(scrollToChatTop)?0:scrollMe.scrollHeight">
              <h4 class="purple-bg sticky-top p-1" *ngIf="onlineUserArray">Online: {{onlineUserArray.length}}</h4>
            <div *ngFor="let content of lobbyContent">
              <div *ngIf="content.length==3"><b>{{content[0]}}</b>{{content[1]}}{{content[2]}}</div>
              <div *ngIf="content.length==2">{{content[0]}}{{content[1]}}</div>
            </div>
              </div>
                  <input (keydown)="sendMessageUsingKeypress($event)" [(ngModel)]="globalChat" class="form-control" type="text" placeholder="Enter text here">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>